<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WeatherApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <WeatherApp.Properties.Settings>
            <setting name="WeatherAPI" serializeAs="String">
                <value>WB5uG9O3WxSR3KNYzGrNDCZTDM8lcYvC</value>
            </setting>
            <setting name="autocompleteURL" serializeAs="String">
                <value>http://dataservice.accuweather.com/locations/v1/cities/autocomplete?apikey={1}&amp;q={0}</value>
            </setting>
            <setting name="forecastURL" serializeAs="String">
                <value>http://dataservice.accuweather.com/forecasts/v1/daily/5day/{0}?apikey={1}&amp;metric=true</value>
            </setting>
        </WeatherApp.Properties.Settings>
    </applicationSettings>
</configuration>
